footer {
    section.footer-signup {
        @include grid-content;
        background: $brand-secondary;
        padding: ($base * 3) 0;
        picture {
            grid-column: 5/-5;
            justify-self: center;
            @media(min-width: map-get($map: $breakpoints, $key: "md")) {
                grid-column: 6/-6;
            }
            @media(min-width:map-get($map: $breakpoints, $key: "ds")) {
                display: grid;
                grid-template-columns: inherit;
                img {
                    grid-column: 4/-4;
                }
            }
        }
        h5 {
            margin-top: $base * 2;
            grid-column: 5/-5;
            font-size: 0.9em;
            font-weight: 600;
            text-align: center;
        }
        p {
            grid-column: 3/-3;
            font-size: 0.9em;
            text-align: center;
        }
        form {
            @include grid-content;
            input {
                border-radius: 2px;
                border: 1px solid lighten($text, 25%);
                color: lighten($text, 10%);
                font-family: Merriweather, sans-serif;
                margin-top: $base;
            }
            input[type="email"] {
                grid-column: 3/-3;
                padding: ($base/2) ($base/1.5);
                justify-self: stretch;
                @media(min-width: map-get($map: $breakpoints, $key: "md")) {
                    grid-column: 4/-4;
                }
                @media(min-width:map-get($map: $breakpoints, $key: "lg")) {
                    grid-column: 5/-5;
                }
                @media(min-width:map-get($map: $breakpoints, $key: "ds")) {
                    grid-column: 6/-6;
                }
            }
            input[type="submit"] {
                transition: all 0.2s ease-in-out;
                border: none;
                color: $white;
                font-weight: 300;
                letter-spacing: 1px;
                grid-column: 4/-4;
                margin-bottom: $base !important;
                @media(min-width: map-get($map: $breakpoints, $key: "sm") + 25px) {
                    grid-column: 6/-6;
                }
                @media(min-width:map-get($map: $breakpoints, $key: "ds")) {
                    grid-column: 6/-6;
                    justify-self: center;
                }
                padding: ($base /2) ($base);
                justify-self: stretch;
                background: $brand-primary;
                @extend .uppercase;
                cursor: pointer;
                &:hover {
                    background: lighten($brand-primary, 5%);
                }
            }
        }
    }
    address {
        @include grid-content;
        margin: ($base *2) 0 ($base) 0;
        p {
            grid-column: 3/-3 !important; //used because of specificality on other rule is to harsh.
            font-size: 0.8em;
            line-height: $base * 1.25; // roughly 25px
            justify-self: center;
            text-align: center;
            a {
                font-size: inherit;
                transition: 0.3s;
                &:hover {
                    color: lighten($text, 20%);
                }
            }
        }
    }
    section.social {
        margin: ($base * 0.5) 0 ($base * 2) 0;
        grid-column: 3/-3;
        ul {
            grid-column: 1/-1;
            grid-gap: $base * 1.5;
            grid-template-columns: repeat(5, 1fr);
            @media(min-width: map-get($map: $breakpoints, $key: "xs")) {
                grid-column: 3/-3;
            }
            @media(min-width: map-get($map: $breakpoints, $key: "sm")) {
                grid-column: 4/-4;
                grid-gap: $base;
            }
            @media(min-width: map-get($map: $breakpoints, $key: "md")) {
                grid-gap: $base * 2;
            }
            @media(min-width: map-get($map: $breakpoints, $key: "xl")) {
                grid-column: 5/-5;
            }
            @media(min-width: map-get($map: $breakpoints, $key: "dl")) {
                grid-column: 6/-6;
                grid-gap: $base;
            }
            li {
                transition: 0.3s;
                &:hover {
                    opacity: 0.8;
                }
            }
        }
    }
}