#master-grid>header {
    grid-column: 1/-1;
    overflow: hidden;
    max-height: 60vh;
    min-height: 300px;
    @media(min-width: map-get($map: $breakpoints, $key: "xs")) {
        min-height: 400px;
    }
    &>picture {
        grid-row: 1/6;
        grid-column: 1/13;
        overflow: hidden;
        background: $black;
        img {
            width: 100%;
            opacity: 0.7;
            transform: scale(1.05);
            // position: absolute;
        }
    }
    h1.branding-primary {
        grid-column: 2/4;
        grid-row: 1/2;
        z-index: 5;
        @media(min-width: map-get($map: $breakpoints, $key: "md")) {
            grid-column: 2/3;
        }
        @media(min-width:map-get($map: $breakpoints, $key: "ds")) {
            grid-column: 2/3;
        }
        a {
            filter: $whiteout;
            transition: opacity .2s ease-in-out;
            text-shadow: $heading-shadow;
            @include grid-content;
            @media(min-width: map-get($map: $breakpoints, $key: "ds")) {
                grid-column: 2/-2;
            }
            picture {
                grid-column: 1/-1;
                @include grid-content;
            }
            &:hover {
                opacity: 0.6;
            }
            img {
                margin-top: $base;
                height: auto;
                align-self: center;
                // max-height: 75px;
            }
        }
    }
    #mobile-nav {
        grid-column: -3/-2;
        grid-row: 1/2;
        z-index: 5;
        justify-self: end;
    }
    #header-content {
        z-index: 3;
        display: flex;
        flex-direction: column;
        justify-self: center;
        align-self: center;
        @include content-width;
        @include heading;
        grid-row: 3/4;
        @media(min-width: map-get($map: $breakpoints, $key: "lg")) {
            margin-top: $base*-2;
        }
        a.btn {
            margin-top: $base*1.5;
            font-size: $base*0.9;
        }
        h2 {
            line-height: $base*2.5;
        }
        p {
            margin: $base 0 0 0;
            font-size: $base;
            font-weight: 300;
        }
        time {
            margin: $base 0 0 0;
        }
    }
}