/*
* Navigation Styles
* Mobile First
*/

section#mobile-nav {
    $width: 30px;
    align-self: center;
    display: flex;
    flex-direction: column;
    // padding: ($base / 2) 0;
    max-width: $width;
    @media(min-width: map-get($map: $breakpoints, $key: "md")) {
        display: none;
    }
    span {
        width: $width;
        height: 3px;
        background-color: $white;
        display: block;
        margin: 3px 0;
        transition: all 0.3s ease-in-out;
    }
    &.is-active {
        transition: all 0.3s ease-in-out;
        transition-delay: 0.6s;
        transform: rotate(-45deg) translate(0, -5px);
    }
    &.is-active span:nth-child(2) {
        width: 0px;
    }
    &.is-active span:nth-child(1),
    &.is-active span:nth-child(3) {
        transition-delay: 0.3s;
    }
    &.is-active span:nth-child(1) {
        transform: translateY(15px);
    }
    &.is-active span:nth-child(3) {
        transform: translateY(-3px) rotate(-90deg);
    }
    &:hover {
        cursor: pointer;
    }
}

nav#nav-primary {
    z-index: 4;
    grid-column: 2/-2;
    &:not(.mobile-collapsed) {
        @include grid-content;
        position: fixed;
        left: 0;
        top: 0;
        overflow: auto;
        background: $text;
        width: 100vw;
        height: 100vh;
        &>ul {
            grid-column: 2/-2;
            grid-row: 2/2;
            align-content: start;
            margin-top: $base*5;
        }
    }
    li {
        line-height: 3rem;
        border-bottom: solid 1px rgba(255, 255, 255, .3);
    }
    li ul {
        display: none; // REPLACE WITH SR
        width: inherit;
    }
    li ul li {
        border-bottom: none;
        line-height: 2rem;
    }
    li ul li:last-of-type {
        padding-bottom: 1rem;
    }
    /*
    li:hover ul {
        display: block; // REPLACE WITH SR REVEAL
    }
    */
    @media(min-width: map-get($map: $breakpoints, $key: "md")) {
        grid-column: 2/-2;
        grid-row: 1/2;
        margin-top: $base;
        ul {
            display: flex;
            justify-content: flex-end;
        }
        ///
        ///
        li:after {
            content: '';
            display: block;
            border-top: solid 1px rgba(255, 255, 255, .3);
            padding-bottom: 3px;
        }
        li:nth-last-child(2) {
            border-left: 1px solid hsla(0, 0%, 100%, .3);
            a {
                padding-left: $base*1.5;
            }
        }
        li:nth-last-child(3) {
            a {
                padding-right: $base*1.5;
            }
        }
        ///
        ///
        li a {
            padding: 0 ($base*0.75);
        }
        li:first-of-type a {
            padding-left: 0;
        }
        li:last-of-type a {
            padding-right: 0;
        }
        ///
        ///
        li ul {
            position: absolute;
            display: none;
            width: 100%;
        }
        li:hover ul {
            display: block;
            display: flex;
            right: 2px;
        }
        ///
        ///
        li ul li {
            line-height: 4rem;
        }
        li ul li:after {
            content: '';
            border-top: none;
            padding-bottom: 0;
        }
        li ul li:nth-last-child(2) {
            border-left: none;
            a {
                padding-left: $base;
            }
        }
        li ul li:nth-last-child(3) {
            a {
                padding-right: $base;
            }
        }
        li ul li a {
            padding: 0 $base;
        }
    }
    ul {
        li {
            a {
                font-family: "Merriweather", sans-serif;
                color: $white;
                font-size: $base;
                line-height: $base*1.5;
                letter-spacing: 2px;
                text-transform: uppercase;
                transition: .3s;
                &:hover {
                    color: $brand-primary;
                }
                @media(min-width: map-get($map: $breakpoints, $key: "md")) {
                    font-size: 0.6rem;
                    line-height: 0.6rem * 1.5;
                    letter-spacing: 1px;
                }
                @media(min-width: map-get($map: $breakpoints, $key: "lg")) {
                    font-size: 0.85rem;
                    line-height: 0.85rem * 1.5;
                    letter-spacing: 2px;
                }
            }
        }
        .nav-cart a {
            font-family: "Icon Font", sans-serif;
            font-size: $base*1.15;
        }
    }
}