    header,
    main,
    footer,
    main>section,
    footer>section,
    footer>address {
        @extend .grid;
        grid-column: 1/-1;
    }
    
    main>section {
        &.text-images-block,
        &.text-image-block {
            @media(min-width: map-get($map: $breakpoints, $key: "ds")) {
                grid-column: 2/-2;
            }
        }
    }
    
    //logo centering code.
    // body.home.page {
    //     &:not(.frozen) {
    //         nav#nav-primary {
    //             margin-top: $base * 4.75;
    //         }
    //         #master-grid>header {
    //             section.mobile-nav {
    //                 min-height: 90px;
    //             }
    //             h1.branding-primary {
    //                 grid-row: 3/4;
    //                 justify-self: center;
    //                 align-self: center;
    //                 grid-column: 3/-3;
    //                 @media(min-width: map-get($map: $breakpoints, $key: "sm")) {
    //                     grid-column: 4/-4;
    //                     @media(min-width: 450px) {
    //                         grid-column: 5/-5;
    //                     }
    //                 }
    //                 @media(min-width: map-get($map: $breakpoints, $key: "lg")) {
    //                     grid-column: 5/-5;
    //                 }
    //                 @media(min-width: map-get($map: $breakpoints, $key: "xl")) {
    //                     grid-column: 6/-6;
    //                 }
    //             }
    //         }
    //     }
    // }
    //weddings
    section#let-us-help-you-create-the-perfect-day {
        margin-bottom: 0 !important;
    }
    
    #let-us-help-you-create-the-perfect-day+section.text-block {
        margin: 0;
    }
    
    body.events.page {
        section.text-image-block {
            div.content-wrap {
                align-items: left;
                p {
                    font-size: $base * 0.85;
                }
                a {
                    margin: $base 0;
                }
            }
        }
    }
    
    body.workshops.page {
        section.text-image-block {
            div.content-wrap {
                align-items: left;
                p {
                    font-size: $base * 0.85;
                }
                a {
                    margin: $base 0;
                }
            }
        }
    }
    
    body.travel.page {
        section.text-image-block {
            div.content-wrap {
                align-items: left;
                p {
                    font-size: $base * 0.85;
                }
                a {
                    margin: $base 0;
                }
            }
        }
    }
    
    body.contact {
        p:empty {
            display: none;
        }
        section+#we-would-love-to-hear-from-you {
            margin-top: 0;
        }
        section+section.form {
            margin-top: 0;
        }
    }
    
    body.blog,
    body.category,
    body.author {
        section.load-more {
            display: flex;
            justify-content: center;
        }
    }
    
    body.media.page {
        section.load-more {
            display: flex;
            justify-content: center;
        }
        ul.card-block.press-media-content {
            .card>h3>a {
                font-size: $base;
                grid-column: 1/-1;
            }
        }
        //Gallery
        ul.press-media-content.gallery {
            @include grid-content;
            grid-column: 2/-2;
            justify-content: center;
            justify-self: center;
            input {
                @extend .sr-only
            }
            picture {
                display: none;
                grid-row: 1/2;
                grid-column: 1/-1;
                justify-content: center;
                visibility: hidden;
                opacity: 0;
                padding-top: $base * 1.5;
                transition: visibility 0s, opacity 0.5s linear;
                img {
                    width: 100%;
                }
            }
            label {
                background-size: cover;
                background-position: 25% 25%;
                opacity: 0.8;
                min-height: 100px;
                grid-column: span 6;
                cursor: pointer;
                @media(min-width: map-get($map: $breakpoints, $key: "sm")) {
                    grid-column: span 4;
                }
                @media(min-width: map-get($map: $breakpoints, $key: "ds")) {
                    min-height: 7.5vw;
                }
                &:hover {
                    opacity: 1;
                }
            }
            input:checked+picture {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                visibility: visible;
                opacity: 1;
            }
        }
    }
    
    main {
        padding-bottom: $base*3;
        @media(min-width: map-get($map: $breakpoints, $key: "lg")) {
            padding-bottom: 0;
        }
        section {
            margin: ($base *2) 0;
            &:not(.banner-block):not(.carousel-block) {
                // margin: ($base *2) 0;
                @media(min-width: map-get($map: $breakpoints, $key: "lg")) {
                    margin: ($base *3) 0;
                }
            }
            &:last-of-type {
                margin-bottom: 0;
            }
            * {
                &:not(.slide) {
                    max-width: map-get($map: $breakpoints, $key: "dsl")
                }
            }
            &.load-more {
                display: flex;
                a {
                    justify-self: center;
                }
            }
            &+.load-more {
                margin-top: 0 !important;
            }
        }
        // blocks
        @import "blocks/carousel-block.scss";
        @import "blocks/text-images-block.scss";
        @import "blocks/text-image-block.scss";
        @import "blocks/card-block.scss";
        @import "blocks/text-hero-block.scss";
        @import "blocks/banner-block.scss";
        @import "blocks/text-block.scss";
        section.card-block+section.text-block {
            margin: 0;
        }
        section.text-images-block+section.text-block {
            margin: 0;
        }
    }
    
    body.home {
        main {
            padding-bottom: 0;
        }
    }
    
    #request-package {
        justify-self: center;
        // @include grid-content();
        @include content-width();
        // justify-items: center;
        align-items: start;
        input[type="email"] {
            padding: ($base * 0.8) ($base);
        }
        input[type="submit"] {
            @extend .btn;
            margin-top: 0;
        }
        input {
            margin: $base ($base);
            // grid-column: span 3;
        }
    }
    
    body.error404 {
        header {
            background: $text;
        }
        section.no-result {
            text-align: center;
            &>div {
                @include content-width;
                margin-bottom: $base*2;
                font-family: Open Sans, sans-serif;
                font-weight: 300;
                line-height: $base*1.6;
                letter-spacing: .5px;
                color: $text;
                font-size: $base*0.85;
                h2 {
                    margin-bottom: $base;
                }
            }
            form.search-form {
                @include content-width;
                .search-submit {
                    @extend .btn;
                }
                label input {
                    border-radius: 2px;
                    border: 1px solid #d3d1cd;
                    color: $text;
                    font-family: Merriweather, sans-serif;
                    font-weight: 300;
                    letter-spacing: .5px;
                    padding: $base*0.7;
                    @media(min-width: map-get($map: $breakpoints, $key: "md")) {
                        margin-right: $base;
                    }
                }
            }
        }
    }