body.single.single-post {
    main {
        article {
            @include grid-content;
            header.entry-meta {
                @include grid-content;
                margin-top: $base*2;
                @media(min-width: map-get($map: $breakpoints, $key: "sm")) {
                    @include content-width;
                    display: flex;
                }
                time,
                p.author,
                ul.post-categories {
                    @include content-width;
                    font-style: italic;
                }
                time,
                p.author {
                    margin-right: $base*2;
                }
            }
            div.entry-content {
                @include grid-content;
                section {
                    @include grid-content;
                }
                // blocks
                @import "blocks/carousel-block.scss";
                @import "blocks/text-images-block.scss";
                @import "blocks/text-image-block.scss";
                @import "blocks/card-block.scss";
                @import "blocks/text-hero-block.scss";
                @import "blocks/banner-block.scss";
                @import "blocks/text-block.scss";
            }
            div.entry-content:before {
                content: "";
                @include content-width;
                border-top: 1px dotted #a5dad2;
                margin-top: $base;
            }
            section.text-block {
                p {
                    margin: ($base*0.75) 0 !important;
                }
                ul,
                p:first-of-type {
                    margin-top: 0 !important;
                }
                p:last-of-type {
                    margin-bottom: 0 !important;
                }
                p:empty {
                    margin-top: 50px;
                }
            }
            section.comments {
                @include grid-content;
                grid-column: 2/-2;
                @media(min-width: map-get($map: $breakpoints, $key: "md")) {
                    grid-column: 3/-3;
                }
                @media(min-width:map-get($map: $breakpoints, $key: "ds")) {
                    grid-column: 4/-4;
                }
            }
        }
    }
}

body.blog,
body.category,
body.author {
    section.post-filter {
        @include grid-content;
        @include content-width;
        grid-column: 1/-1;
        margin: $base*2 $base*2 0 $base*2;
        @media(min-width: map-get($map: $breakpoints, $key: "lg")) {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            margin: 0;
        }
        label {
            @extend .btn;
            grid-column: 1/-1;
            margin: ($base/2) ($base*0.9);
            padding: ($base/2) ($base*1.5);
            cursor: pointer;
            @media(min-width: map-get($map: $breakpoints, $key: "sm")) {
                grid-column: span 6;
            }
            @media(min-width: map-get($map: $breakpoints, $key: "lg")) {
                &:last-of-type {
                    margin-right: 0;
                }
                &:first-of-type {
                    margin-left: 0;
                }
            }
        }
    }
    section.post-filter:before {
        content: "";
        width: 100%;
        display: grid;
        grid-column: 1/-1;
        border-top: 1px dotted #a5dad2;
        padding-top: $base*3;
    }
    section.posts-categories {
        @include content-width;
        section.view-more {
            grid-column: 1/-1;
            justify-content: center;
            display: flex;
            a.btn {
                justify-self: center;
            }
        }
        article,
        section.view-more {
            display: none;
        }
        section.view-more {
            margin: 1rem 0;
        }
    }
    p.byline.author.vcard {
        display: none;
    }
    .card {
        align-items: start;
        // border: 1px solid lighten($text, 40%);
        // background: $white;
        margin-bottom: $base;
        align-self: auto !important;
        h3 {
            align-self: start;
        }
        time {
            align-self: end;
            opacity: 0.5;
        }
        ul.post-categories {
            grid-column: 2/-2;
            padding: ($base*0.25) 0 ($base*1.25) 0;
        }
        ul.post-categories li a {
            font-size: $base*0.6;
            font-weight: 300;
            letter-spacing: 1px;
            padding: ($base*0.4) $base;
            background: $text;
            color: $white;
            border-radius: 2px;
        }
        h3.entry-title,
        time,
        ul.post-categories {
            justify-self: center;
            text-align: center;
            font-size: $base*0.75;
        }
        // &>a {
        //     padding-bottom: 100%;
        //     overflow: hidden;
        //     height: 100%;
        //     picture {
        //         img {
        //             transform: scale(2);
        //         }
        //     }
        // }
    }
}


/*
// body.single-post {
header>picture {
    @media(orientation: landscape) and (min-width: map-get($map: $breakpoints, $key: "ds")) {
        max-height: 60vh;
    }
}
*/

// }