body.archive.woocommerce {
    section.view-more {
        justify-content: center;
        display: flex;
    }
    section#before-store {
        &>section {}
    }
    section#store-content {
        @include grid-content;
        @include content-width;
        .woocommerce-pagination {
            grid-row-start: 5;
            grid-column: 1/-1;
            ul {
                display: flex;
                border: none;
                li {
                    border: none;
                    flex: 0 1 50px;
                }
            }
        }
        .woocommerce-ordering {
            grid-row-start: 2;
            grid-column: -2/-1;
        }
        .woocommerce-result-count {
            grid-row-start: 2;
            grid-column: -5/-2;
        }
        .woocommerce-breadcrumb {
            grid-row-start: 2;
            grid-column: 1/-5;
        }
        .product-archive {
            grid-row-start: 4;
            grid-template-columns: repeat(12, 1fr);
            display: grid;
            grid-column: 1/-1;
        }
    }
    .woocommerce-message {
        @include content-width;
        grid-row-start: 1;
        margin-bottom: $base;
        font-family: "Open Sans", sans-serif;
        .button {
            @extend .btn;
            margin-top: 0;
            margin-bottom: 0;
        }
    }
}


/* SHOP PAGE STYLES */

body.post-type-archive-product,
body.tax-product_cat,
body.tax-product_group {
    main {
        @import "blocks/carousel-block.scss";
        @import "blocks/text-images-block.scss";
        @import "blocks/text-image-block.scss";
        @import "blocks/card-block.scss";
        @import "blocks/text-hero-block.scss";
        @import "blocks/banner-block.scss";
        @import "blocks/text-block.scss";
    }
    main>section {
        @include grid-content;
        margin: ($base*2) 0;
        &.category-menu {
            @include content-width;
            margin-bottom: 0;
        }
        &.featured-products:first-of-type {
            margin-top: 0;
        }
        &.featured-products {
            display: grid;
            margin: ($base*2) 0 0 0;
            h3 {
                @include content-width;
                grid-row: 1/2;
                @include sub-heading;
                font-size: $base * 1.7;
                justify-self: center;
                margin: ($base*2) 0;
            }
            &+.featured-products {
                margin-top: 0;
            }
            ul.product-archive {
                @include grid-content;
                @include content-width;
                grid-row: 2/3;
            }
        }
        ul.product-archive {
            grid-gap: $base;
            &>li {
                @include grid-content;
                grid-column: span 6;
                align-items: start;
                margin-top: $base;
                text-align: center;
                @media(min-width: map-get($map: $breakpoints, $key: "md")) {
                    grid-column: span 4;
                }
                a {
                    @include grid-content;
                    grid-gap: $base/2;
                    img {
                        grid-row: 1/3;
                        grid-column: 1/-1;
                        margin-bottom: $base/2;
                    }
                    h2 {
                        grid-column: 2/-2;
                        @include sub-heading;
                        font-size: $base*0.9;
                    }
                    span {
                        grid-column: 2/-2;
                    }
                    &:last-of-type {
                        align-self: end;
                        display: none;
                    }
                }
            }
        }
        nav.woocommerce-breadcrumb {
            @include content-width;
            justify-self: start;
            display: flex;
        }
        .term-description {
            display: none;
        }
        .woocommerce-result-count {
            // grid-column: span 6;
        }
        form.woocommerce-ordering {
            // grid-column: span 3;
        }
    }
}

body.single-product {
    main>section {
        @include grid-content;
        nav.woocommerce-breadcrumb {
            @include content-width;
            justify-self: start;
            display: flex;
        }
        .woocommerce-message {
            @include content-width;
            grid-row-start: 1;
            margin-bottom: $base;
            font-family: "Merriweather", sans-serif;
            .button {
                @extend .btn;
                margin-top: 0;
                margin-bottom: 0;
            }
        }
        div.product {
            @include grid-content;
            @include content-width;
            @media(min-width: map-get($map: $breakpoints, $key: "sm")) {
                grid-gap: $base*2;
            }
            &.product-type-booking {
                .entry-summary {
                    form {
                        display: flex;
                        flex-wrap: wrap;
                        .wc-bookings-booking-form {
                            flex: 1 0 100%;
                            border: none;
                            padding: 0;
                        }
                    }
                }
            }
            .woocommerce-product-gallery--with-images {
                grid-column: span 6;
            }
            .flex-viewport,
            .flex-control-nav {
                grid-column: 1/-1;
            }
            .flex-viewport {
                margin-bottom: $base;
            }
            .flex-control-nav {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                margin: 0 -5px;
                li {
                    flex: 0 1 25%;
                    // margin: 5px;
                    padding: 5px;
                }
            }
            .woocommerce-product-gallery,
            .woocommerce-product-gallery>figure {
                @include grid-content;
            }
            .woocommerce-product-gallery>figure>div {
                grid-column: 1/-1;
            }
            .woocommerce-product-gallery>figure>div>img,
            {
                width: 100%;
            }
            .summary entry-summary {
                display: grid;
                @include grid-content;
            }
            .woocommerce-product-gallery,
            div.summary.entry-summary,
            .woocommerce-tabs {
                grid-column: span 12;
                @media(min-width: map-get($map: $breakpoints, $key: "md")) {
                    grid-column: span 6;
                }
                grid-row: span 1;
                margin-bottom: 0;
                align-self: start;
                .quantity {
                    padding: ($base/2) 0;
                    background: $white;
                    border-radius: 2px;
                    border: 1px solid #d3d1cd;
                }
                p.price,
                .product_meta {
                    display: flex;
                    flex-direction: column;
                    span {
                        @include sub-heading;
                    }
                }
                .product_meta {
                    margin: $base 0;
                }
                h2 {
                    @include sub-heading;
                }
                .jp-relatedposts {
                    @extend .sr-only;
                    margin: 0 !important;
                    padding: 0 !important;
                }
                form.cart {
                    margin-top: $base;
                    margin-bottom: 0;
                    display: flex;
                    button {
                        margin: 0 $base;
                        @extend.btn-blue;
                        align-self: stretch;
                    }
                    .quantity {
                        padding: ($base/2) 0;
                        background: $white;
                        border-radius: 2px;
                        border: 1px solid #d3d1cd;
                    }
                    input {
                        padding: ($base/2);
                    }
                }
            }
            .woocommerce-product-gallery {
                grid-row: 1/3;
            }
            .sku_wrapper,
            .posted_in {
                display: none;
            }
            .tab-description {}
            section.related.products {
                grid-column: 1/-1;
                margin: 0;
                text-align: center;
                &>h2 {
                    text-align: center;
                    margin: 0 0 $base*2 0;
                    color: $text;
                    text-transform: capitalize;
                }
                .price {
                    font-family: "Open Sans", sans-serif;
                    font-weight: 300;
                    letter-spacing: 0.5px;
                    color: $text;
                }
                a.add_to_cart_button.ajax_add_to_cart,
                a.added_to_cart.wc-forward {
                    display: none;
                }
                .woocommerce-Price-amount.amount {
                    color: $text;
                }
            }
        }
        input,
        textarea {
            outline: none;
            border: none;
        }
    }
}

body.woocommerce.single-product #content div.product div.images,
.woocommerce div.product div.images,
.woocommerce-page #content div.product div.images,
.woocommerce-page div.product div.images,
body.woocommerce.single-product #content div.product div.summary,
.woocommerce div.product div.summary,
.woocommerce-page #content div.product div.summary,
.woocommerce-page div.product div.summary {
    float: none;
    width: 100%;
    align-self: start;
}

body.woocommerce-cart {
    section.cart {
        div.woocommerce {
            @include content-width;
            .cart-empty {
                text-align: center;
            }
            .return-to-shop {
                text-align: center;
                a {
                    @extend .btn;
                }
            }
            thead {
                background: $text;
                color: $white;
            }
            .quantity input {
                padding: ($base/2) ($base/4);
                background: $white;
                border-radius: 2px;
                border: 1px solid #d3d1cd;
            }
            .checkout-button {
                @extend .btn-blue;
                margin: 0;
                font-weight: 600;
            }
            .cart_totals {
                h2 {
                    color: $text;
                    padding-bottom: $base *1;
                }
            }
            tbody tr:last-of-type {
                .actions {
                    padding: $base*1.5;
                    .coupon {
                        .input-text {
                            border-radius: 2px;
                            border: 1px solid #d3d1cd;
                            color: #706c64;
                            font-family: Merriweather, sans-serif;
                            font-weight: 300;
                            letter-spacing: .5px;
                            padding: $base*0.75;
                            width: 150px;
                        }
                        input[type="submit"] {
                            @extend .btn;
                            margin: 0 0 0 $base;
                            padding: ($base*0.25) ($base*2);
                            font-size: $base*0.75;
                            float: none !important;
                        }
                    }
                }
                button {
                    @extend .btn-blue;
                    margin: 0;
                    padding: ($base*0.25) ($base*2);
                    font-size: $base*0.75;
                }
            }
        }
    }
}

body.checkout {
    section.checkout>div.woocommerce {
        @include grid-content;
        @include content-width;
        .woocommerce-info,
        form {
            flex: 1 0 100%;
            grid-column: 1/-1;
            input,
            textarea {
                border-radius: 2px;
                border: 1px solid #d3d1cd;
                color: $text;
                font-family: Merriweather, sans-serif;
                font-weight: 300;
                letter-spacing: .5px;
                padding: ($base/2);
            }
            #order_review_heading {
                margin: ($base) 0;
            }
        }
        .woocommerce-checkout-payment {
            background: none;
        }
        .place-order button {
            @extend .btn-blue;
            font-weight: 600;
        }
    }
}

.woocommerce-order-received {
    .woocommerce-order {
        @include content-width;
    }
    .woocommerce-order-overview {
        display: block;
        margin: ($base /2) 0;
    }
    .woocommerce ul.order_details li {
        border: none;
        padding: ($base /2) 0;
    }
}

.woocommerce-order-details__title {
    margin: ($base /2);
}

body.my-account {
    .woocommerce {
        @include grid-content;
        * {
            @include content-width;
        }
    }
}

body.woocommerce-page {
    .woocommerce-message,
    .woocommerce-info {
        background: $white;
        border-top: solid 5px $brand-primary;
        font-family: "Merriweather", sans-serif;
        font-size: $base*0.9;
        font-weight: 300;
        letter-spacing: 0.5px;
        color: $text;
    }
    .woocommerce-message::before,
    .woocommerce-info::before {
        color: $brand-primary;
        font-size: $base*0.9;
    }
    .woocommerce-error {
        background: $white;
    }
}