nav {
    ul {
        list-style: none;
    }
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

picture {
    align-items: start;
    img {
        width: auto;
        align-self: start;
    }
}

hr {
    grid-column: 2/-2;
    @media(min-width: map-get($map: $breakpoints, $key: "md")) {
        grid-column: 3/-3;
    }
    width: 100%;
    margin: ($base * 1.5) 0;
    border-top: 1px dotted #a5dad2;
    border-bottom: none;
    border-left: none;
    border-right: none;
    background: none;
}

figure {
    @include content-width;
    img {
        height: auto;
    }
    figcaption {
        padding: 0 ($base*0.5);
        font-size: $base*0.75;
        font-style: italic;
    }
}

input {
    -webkit-appearance: none;
}

.elipse {
    height: $base*0.3;
    width: $base*0.3;
    background-color: $text;
    border-radius: 50%;
    margin: 0 ($base*0.3);
    display: inline-block;
}

.notice {
    @include content-width;
    background: $text;
    border-radius: 2px;
    color: $white;
    margin: $base 0;
    padding: $base ($base*2);
    text-align: center;
    line-height: $base*1.25;
}

#skip-to,
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.sr-reveal {
    position: static;
    width: auto;
    height: auto;
    padding: 0;
    margin: inherit;
    clip: none;
    border: 0;
}

.mobile-only {
    @media(min-width: map-get($map: $breakpoints, $key: "md")) {
        display: none;
    }
}

.collapsed {
    position: absolute;
    transform: scale(0, 0);
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.mobile-collapsed {
    @extend .collapsed;
    @media(min-width: map-get($map: $breakpoints, $key: 'md')) {
        transform: scale(1);
        overflow: visible;
        padding: inherit;
        clip: initial;
        position: static;
    }
}

p:empty {
    display: none;
}

body {
    background-color: $background;
    &.frozen {
        overflow: hidden;
    }
}