.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.text-upper {
    text-transform: uppercase;
}

.text-captial {
    text-transform: capitalize;
}

.p-break {
    /* These are technically the same, but use both */
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    /* This is the dangerous one in WebKit, as it breaks things wherever */
    word-break: break-all;
    /* Instead use this non-standard one: */
    word-break: break-word;
}

.m-0 {
    margin: 0 0;
}

.m-1 {
    margin: $base;
}

.m-2 {
    margin: $base * 1.5;
}

.m-3 {
    margin: $base * 2;
}

.m-4 {
    margin: $base * 2.5;
}

.m-5 {
    margin: $base * 3;
}

.my-0 {
    margin-top: 0;
    margin-bottom: 0;
}

.my-1 {
    margin: $base 0;
}

.my-2 {
    margin: ($base * 1.5) 0;
}

.my-3 {
    margin: ($base * 2) 0
}

.my-4 {
    margin: ($base * 2.5) 0;
}

.my-5 {
    margin: ($base * 3) 0;
}

.mx-0 {
    margin-left: 0;
    margin-right: 0;
}

.mx-1 {
    margin: 0 $base;
}

.mx-2 {
    margin: 0 ($base * 1.5);
}

.mx-3 {
    margin: 0 ($base * 2);
}

.mx-4 {
    margin: 0 ($base * 2.5);
}

.mx-5 {
    margin: 0 ($base * 3);
}

.mt-1 {
    margin-top: 0;
}

.mt-1 {
    margin-top: $base;
}

.mt-2 {
    margin-top: ($base * 1.5);
}

.mt-3 {
    margin-top: ($base * 2)
}

.mt-4 {
    margin-top: ($base * 2.5);
}

.mt-5 {
    margin-top: ($base * 3);
}

.mb-0 {
    margin-bottom: 0;
}

.mb-1 {
    margin-bottom: $base;
}

.mb-2 {
    margin-bottom: ($base * 1.5);
}

.mb-3 {
    margin-bottom: ($base * 2);
}

.mb-4 {
    margin-bottom: ($base * 2.5);
}

.mb-5 {
    margin-bottom: ($base * 3);
}

.ml-0 {
    margin-left: 0;
}

.ml-1 {
    margin-left: $base;
}

.ml-2 {
    margin-left: ($base * 1.5);
}

.ml-3 {
    margin-left: ($base * 2)
}

.ml-4 {
    margin-left: ($base * 2.5);
}

.ml-5 {
    margin-left: ($base * 3);
}

.mr-0 {
    margin-right: 0;
}

.mr-1 {
    margin-right: $base;
}

.mr-1 {
    margin-right: $base;
}

.mr-2 {
    margin-right: ($base * 1.5);
}

.mr-3 {
    margin-right: ($base * 2);
}

.mr-4 {
    margin-right: ($base * 2.5);
}

.mr-5 {
    margin-right: ($base * 3);
}

.p-1 {
    padding: $base;
}

.p-2 {
    padding: $base * 1.5;
}

.p-3 {
    padding: $base * 2;
}

.p-4 {
    padding: $base * 2.5;
}

.p-5 {
    padding: $base * 3;
}

.py-0 {
    padding-top: 0;
    padding-bottom: 0;
}

.py-1 {
    padding: $base 0;
}

.py-2 {
    padding: ($base * 1.5) 0;
}

.py-3 {
    padding: ($base * 2) 0;
}

.py-4 {
    padding: ($base * 2.5) 0;
}

.py-5 {
    padding: ($base * 3) 0;
}

.px-0 {
    padding-left: 0;
    padding-right: 0;
}

.px-1 {
    padding: 0 $base;
}

.px-2 {
    padding: 0 ($base * 1.5);
}

.px-3 {
    padding: 0 ($base * 2);
}

.px-4 {
    padding: 0 ($base * 2.5);
}

.px-5 {
    padding: 0 ($base * 3);
}

.pt-1 {
    padding-top: $base;
}

.pt-2 {
    padding-top: ($base * 1.5);
}

.pt-3 {
    padding-top: ($base * 2);
}

.pt-4 {
    padding-top: ($base * 2.5);
}

.pt-5 {
    padding-top: ($base * 3);
}

.pb-1 {
    padding-bottom: $base;
}

.pb-2 {
    padding-bottom: ($base * 1.5);
}

.pb-3 {
    padding-bottom: ($base * 2);
}

.pb-4 {
    padding-bottom: ($base * 2.5);
}

.pb-5 {
    padding-bottom: ($base * 3);
}

.pl-1 {
    padding-left: $base;
}

.pl-2 {
    padding-left: ($base * 1.5);
}

.pl-3 {
    padding-left: ($base * 2);
}

.pl-4 {
    padding-left: ($base * 2.5);
}

.pl-5 {
    padding-left: ($base * 3);
}

.pr-1 {
    padding-right: $base;
}

.pr-2 {
    padding-right: ($base * 1.5);
}

.pr-3 {
    padding-right: ($base * 2);
}

.pr-4 {
    padding-right: ($base * 2.5);
}

.pr-5 {
    padding-right: ($base * 3);
}