		body {
		    p,
		    blockquote,
		    a,
		    abbr,
		    acronym,
		    address,
		    big,
		    cite,
		    del,
		    dfn,
		    em,
		    ins,
		    q,
		    s,
		    samp,
		    small,
		    strike,
		    strong,
		    sub,
		    sup,
		    tt,
		    var,
		    b,
		    u,
		    i,
		    center,
		    ol,
		    ul,
		    li,
		    fieldset,
		    form,
		    label,
		    legend,
		    table,
		    caption,
		    article,
		    aside,
		    details,
		    figcaption,
		    footer,
		    header,
		    hgroup,
		    menu,
		    nav,
		    textarea {
		        font-family: "Open Sans", sans-serif;
		        font-weight: 300;
		        line-height: $base * 1.666; // roughly 25px
		        letter-spacing: 0.5px;
		        color: $text;
		        font-size: $base * 0.85;
		    }
		    menu,
		    nav {
		        font-size: $base;
		    }
		    h1,
		    h2,
		    h3,
		    h4,
		    h5,
		    h6 {
		        font-family: "Merriweather", sans-serif;
		        font-weight: 300;
		        letter-spacing: 1px;
		        font-size: $base * 1.333; // roughly 20px;
		    }
		    h1 {
		        font-size: 2em;
		    }
		    h2 {
		        font-size: 1.75em
		    }
		    h3,
		    h4,
		    h5,
		    h6 {
		        font-size: 1.5em;
		    }
		    .text-center {
		        text-align: center;
		    }
		    .text-left {
		        text-align: left;
		    }
		    .text-right {
		        text-align: right;
		    }
		    .text-justify {
		        text-align: justify;
		    }
		    .uppercase {
		        text-transform: uppercase;
		    }
		    .captialize {
		        text-transform: capitalize;
		    }
		    .lower-case {
		        text-transform: lowercase;
		    }
		    strong {
		        font-weight: 600;
		        letter-spacing: 0.75;
		    }
		    em {
		        font-style: italic;
		    }
		    blockquote {
		        grid-column: 2/-2;
		        @media(min-width: map-get($map: $breakpoints, $key: "md")) {
		            grid-column: 3/-3;
		        }
		        border-left: solid 5px $brand-primary;
		        padding: 0 0 0 $base;
		        margin: ($base * 0.5) 0;
		        p {
		            font-family: "Merriweather", sans-serif;
		            margin-bottom: .5rem;
		            font-style: italic;
		        }
		    }
		}