/*********************
* 		Global
*********************/

$base: 1rem;
$breakpoints: ( xs: 400px, sm: 550px, md: 750px, lg: 950px, xl: 1150px, ds: 1350px, dl: 1550px, del:1850px) !default;

/*********************
* 		Colours
*********************/

$text: #706C64;
$brand-primary: #75B2B9;
$brand-secondary: #DBEDEA;
$background: #F1F2E8;
$image-cover: #6D4F3C;
$white: #fff;
$black: #000;

/*********************
* 		Filters
*********************/

$whiteout: brightness(0) invert(1);
$drop-shadow: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.8));
$heading-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
$text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);