.btn {
    margin: $base 0;
    padding: ($base /2) ($base * 2);
    border: solid 1px $text;
    border-radius: 2px;
    background: transparent;
    font-family: "Open Sans", sans-serif;
    font-size: ($base*0.9);
    font-weight: 300;
    text-align: center;
    letter-spacing: 1px;
    line-height: ($base*1.65);
    transition: all 0.2s ease-in-out;
    @extend .uppercase;
    &:hover {
        color: $white;
        background: $text;
    }
}

.btn-blue {
    @extend .btn;
    border: none;
    background: $brand-primary;
    color: $white;
    @extend .uppercase;
    &:hover {
        background: lighten($brand-primary, 5%);
    }
}

.active-btn {
    color: $white;
    background: $text !important;
}