section#calendar {
    @include grid-content;
    border-radius: 5px;
    ul.month,
    ul.calendar-grid {
        @include content-width;
    }
    ul.month {
        display: flex;
        display: grid;
        align-items: center;
        background-color: $brand-primary;
        li {
            flex: 1 1 50%;
            grid-row-start: 1;
            color: $white;
            display: flex;
            flex-direction: column;
            @media(min-width: map-get($map: $breakpoints, $key: "md")) {
                // margin-bottom: 5px;
            }
            a {
                color: inherit;
                padding: ($base * 2) $base;
            }
        }
        li.prev {
            flex: 0 1 20%;
            justify-self: flex-start;
            &:hover {
                background-color: darken($brand-primary, 20%);
            }
        }
        li.next {
            flex: 0 1 20%;
            justify-self: flex-end;
            text-align: right;
            &:hover {
                background-color: darken($brand-primary, 20%);
            }
        }
        li.current-month {
            justify-self: center;
            align-self: center;
            text-align: center;
        }
    }
    ul.calendar-grid {
        display: flex;
        flex-wrap: wrap;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        li {
            flex: 1 1 14%;
        }
    }
    ul.weekdays {
        li {
            display: flex;
            justify-content: center;
            font-weight: 700;
            span {
                margin: 0;
                padding: 0;
            }
            margin:5px 0;
        }
    }
    ul.weekdays,
    ul.days {
        border: solid 1px transparentize($color: $text, $amount: 0.8);
        h4 {
            padding: ($base /2) $base 0 $base;
            text-align: center
        }
        &>li {
            grid-column: span 1;
            &>ul,
            p {
                margin-top: ($base /2);
            }
        }
    }
    ul.weekdays {
        border-bottom: none;
        li {
            padding: 0 4px;
        }
    }
    ul.days {
        &>li {
            padding-bottom: ($base /2);
            border: solid 1px transparentize($color: $text, $amount: 0.8);
            @media(max-width: map-get($map: $breakpoints, $key: "md")) {
                * {
                    font-size: 0.5rem;
                    line-height: 0.5rem * 1.5;
                    padding: ($base / 4);
                }
                p {
                    padding: 0 ($base / 4) 0 ($base / 4);
                    a {
                        padding: 0;
                        margin: 0;
                    }
                    margin-top: 0;
                }
            }
            @media(min-width:map-get($map: $breakpoints, $key: "md")) {
                min-height: 75px;
            }
            p {
                text-align: center;
            }
            &:not(.full-item):hover {
                background: $text;
                h4,
                p>a {
                    color: $white;
                }
            }
        }
        .not-current-month {
            * {
                opacity: 0.5;
            }
        }
        .active {
            background-color: transparentize($brand-primary, 0.2);
            color: $white;
        }
        a {
            cursor: pointer;
        }
        .past a {
            pointer-events: none;
            cursor: default;
        }
        &>li.full-item {
            grid-column: 1/-1;
            display: grid;
            h4,
            p {
                grid-column: 1/-1;
                a {
                    font-size: $base !important;
                    text-align: center;
                    font-weight: 700;
                }
                margin: ($base *2) auto;
            }
            ul {
                display: flex;
                flex-wrap: wrap;
                grid-column: 1/-1;
                li {
                    padding: $base;
                    flex: 1 1 200px;
                    a {
                        font-size: $base;
                        padding: 0;
                    }
                }
            }
        }
    }
}

section.card+section.text {
    margin-top: $base * 1
}