section.filter-products {
    @include grid-content;
    grid-gap: $base;
    margin: $base*2;
    padding-bottom: $base*2;
    @media(min-width: map-get($map: $breakpoints, $key: "lg")) {
        grid-column: 2/-2;
    }
    @media(min-width: map-get($map: $breakpoints, $key: "ds")) {
        grid-column: 3/-3;
    }
    input {
        @extend .sr-only;
        grid-row-start: 1;
        display: none;
    }
    ul.product-collection.card {
        order: 7;
        @include grid-content;
        display: none;
        grid-gap: inherit;
        justify-self: center;
        @media(min-width: map-get($map: $breakpoints, $key: "lg")) {
            grid-gap: $base *2;
        }
        li {
            grid-column: 1/-1;
            @media(min-width: map-get($map: $breakpoints, $key: "sm")) {
                grid-column: span 6;
            }
            @media(min-width: map-get($map: $breakpoints, $key: "lg")) {
                grid-column: span 4;
            }
            span.price {
                display: none;
            }
            a {
                @extend .grid;
                img {
                    grid-column: 1/-1;
                    width: 100%;
                    height: auto;
                }
                h2 {
                    grid-column: 2/-2;
                    font-size: 0.9rem;
                    @extend .text-center;
                    margin: $base 0 0 0;
                }
                div.description {
                    grid-column: 2/-2;
                    @extend .text-center;
                }
                &.add_to_cart_button {
                    display: none;
                }
            }
        }
    }
    /*
    input[value="featured"]:checked~label[for="featured"] {
        color: $white;
        background: $text;
    }
    input[value="events"]:checked~label[for="events"] {
        color: $white;
        background: $text;
    }
    input[value="workshops"]:checked~label[for="workshops"] {
        color: $white;
        background: $text;
    }
    input[value="winter"]:checked~label[for="winter"] {
        color: $white;
        background: $text;
    }
    input[value="spring"]:checked~label[for="spring"] {
        color: $white;
        background: $text;
    }
    input[value="summer"]:checked~label[for="summer"] {
        color: $white;
        background: $text;
    }
    input[value="fall"]:checked~label[for="fall"] {
        color: $white;
        background: $text;
    }
    */
    // Show product inputs
    input[value="featured"]:checked~ul.featured {
        display: grid;
    }
    input[value="events"]:checked~ul.events {
        display: grid;
    }
    input[value="workshops"]:checked~ul.workshops {
        display: grid;
    }
    input[value="winter"]:checked~ul.winter {
        display: grid;
    }
    input[value="spring"]:checked~ul.spring {
        display: grid;
    }
    input[value="summer"]:checked~ul.summer {
        display: grid;
    }
    input[value="fall"]:checked~ul.fall {
        display: grid;
    }
    &>a.mobile-only.btn {
        grid-column: 1/-1;
        order: 99;
    }
    div.filter-wrapper {
        @include grid-content;
        grid-column: 1/-1;
        @media(min-width: map-get($map: $breakpoints, $key: "lg")) {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            margin: 0;
        }
        @media(min-width: map-get($map: $breakpoints, $key: "xl")) {
            justify-content: flex-end;
        }
        label {
            @extend .btn;
            grid-column: 1/-1;
            margin: ($base/2) ($base*0.9);
            padding: ($base/2) ($base*1.5);
            cursor: pointer;
            @media(min-width: map-get($map: $breakpoints, $key: "sm")) {
                grid-column: span 6;
            }
            @media(min-width: map-get($map: $breakpoints, $key: "lg")) {
                &:last-of-type {
                    margin-right: 0;
                }
                &:first-of-type {
                    margin-left: 0;
                }
            }
            @media(min-width: map-get($map: $breakpoints, $key: "xl")) {
                &:nth-of-type(2) {
                    margin-right: auto;
                }
            }
        }
    }
    &+* {
        margin-top: 0 !important;
    }
    margin-bottom:0 !important;
}