// // Search form
// .search-form {
//   @extend .form-inline;
// }
// .search-form label {
//   font-weight: normal;
//   @extend .form-group;
// }
// .search-form .search-field {
//   @extend .form-control;
// }
// .search-form .search-submit {
//   @extend .btn;
//   @extend .btn-secondary;
// }
section.form {
    #contact-form {
        @include grid-content;
        grid-column: 2/-2;
        justify-content: center;
        @media(min-width: map-get($map: $breakpoints, $key: "md")) {
            grid-column: 3/-3;
        }
        input,
        textarea,
        select,
        label,
        p,
        .form-radio {
            grid-column: 2/-2;
            justify-content: center;
            @media(min-width: map-get($map: $breakpoints, $key: "md")) {
                grid-column: 3/-3;
            }
        }
        input,
        textarea,
        select {
            border-radius: 2px;
            border: 1px solid lighten($text, 40%);
            color: $text;
            font-family: Merriweather, sans-serif;
            font-weight: 300;
            letter-spacing: 0.5px;
            margin-top: $base;
            padding: $base/1.5;
        }
        textarea {
            resize: vertical;
            font-size: $base*0.7;
            line-height: $base;
        }
        p {
            margin-top: $base;
        }
        .form-radio {
            display: flex;
            justify-content: left;
        }
        input[type="radio"] {
            margin: 0 ($base/2) 0 0;
        }
        input[type="submit"] {
            grid-column: 4/-4;
            justify-self: stretch;
            @media(min-width: map-get($map: $breakpoints, $key: "ds")) {
                grid-column: 5/-5;
            }
            @extend .btn-blue;
            cursor: pointer;
            &:hover {
                background: lighten($brand-primary, 5%);
            }
        }
    }
}