#master-grid,
.grid {
    $grid-count: 12;
    display: flex;
    display: grid;
    grid-template-columns: repeat($grid-count, 1fr);
}

#master-grid::before {
    display: block;
    width: 100%;
    text-align: center;
    min-width: 50px;
    font-size: $base;
    content: 'Notice: You are using an outdated browser that does not support grid. For the best experince please update your browser';
    @supports(display: grid) and (grid-column: 1/-1) and (grid-template-columns: repeat(12, 1fr)) {
        display: none;
    }
}

@mixin grid-content {
    //in place of display:grid not being widely supported.
    //in place of display:content not being
    display: inherit;
    grid-template-columns: inherit;
    grid-column: 1/-1;
}