section.banner-block {
    @include grid-content;
    picture {
        z-index: 1;
        grid-row: 1/4;
        grid-column: 1/-1;
        background: $black;
        max-height: 350px;
        overflow: hidden;
        position: relative;
        img {
            position: relative;
            width: 100%;
            opacity: 0.7;
            transform: scale(1.05);
            filter: blur(7px);
        }
    }
    div.banner-content {
        grid-row: 2/3;
        grid-column: 2/-2;
        align-content: center;
        @media(min-width: map-get($map: $breakpoints, $key: "md")) {
            grid-column: 3/-3;
        }
        z-index: 2;
        @include heading;
        h2 {
            text-transform: capitalize;
            font-size: ($base *2.5);
            letter-spacing: 1px;
        }
        p {
            font-size: $base;
        }
    }
}