section.card-block,
ul.card-block {
    @media(min-width: map-get($map: $breakpoints, $key: "sm")) {
        grid-gap: ($base * 2);
    }
    @media(min-width: map-get($map: $breakpoints, $key: "md")) {
        margin: ($base *2);
    }
    @include grid-content;
    align-items: start;
    @include content-width;
    .card {
        @include grid-content;
        align-self: start;
        @media(min-width: map-get($map: $breakpoints, $key: "md")) {
            grid-column: span 6;
        }
        p {
            margin-bottom: $base;
        }
        a {
            grid-column: 1/-1;
            justify-content: center;
            margin-top: 0;
            picture {
                overflow: hidden;
                img {
                    width: 100%;
                }
            }
            &.btn {
                border: none;
                font-size: 0.8em;
                opacity: 0.5;
                align-self: end;
                &:hover {
                    opacity: 1;
                }
            }
            &:not(:hover) {
                picture>img {
                    opacity: 0/9;
                }
            }
        }
        h3,
        h3>a {
            grid-column: 2/-2;
            justify-content: center;
            text-align: center;
            margin: ($base/2) 0;
            @include sub-heading;
        }
        p,
        time {
            grid-column: 2/-2;
            justify-content: center;
            text-align: center;
        }
    }
    &.row {
        //flexbox overide
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        @media(min-width: map-get($map: $breakpoints, $key: "md")) {
            grid-column: 2/-2;
        }
        @media(min-width: map-get($map: $breakpoints, $key: "ds")) {
            grid-column: 3/-3;
        }
        .card {
            display: grid; // because display inherit will load display:flex
            flex: 1 0 200px;
            margin: 0 $base;
        }
    }
    &.grid.three {
        .card {
            grid-column: 1/-1;
            align-items: start;
            @media(min-width: map-get($map: $breakpoints, $key: "md")) {
                grid-column: span 6;
            }
            @media(min-width: map-get($map: $breakpoints, $key: "xl")) {
                grid-column: span 4;
            }
        }
    }
}


/* for theme overide*/

.card-block+.load-more {
    margin-top: 0 !important;
}