section.carousel-block {
    display: flex;
    overflow-x: hidden;
    background-color: $black;
    div.slide {
        overflow: hidden;
        flex: 0 0 100%;
        @extend .grid;
        // @extend .sr-only;
        &.active {
            position: static;
            width: auto;
            height: auto;
            padding: 0;
            margin: 0px;
            clip: none;
        }
        &.fade {
            -webkit-animation-name: fade;
            -webkit-animation-duration: 1.5s;
            animation-name: fade;
            animation-duration: 1.5s;
        }
        @keyframes fade {
            from {
                opacity: .4;
            }
            to {
                opacity: 1;
            }
        }
        picture {
            grid-column: 1/-1;
            grid-row: 1 / 6;
            img {
                height: 100%;
                max-width: none;
                transform: scale(1.25) translateX(-20vw);
                // transform: scale(1.05);
                // width: 100%;
                opacity: 0.7;
                @media(min-width: map-get($map: $breakpoints, $key: "md")) {
                    transform: scale(1.05);
                    width: 100%;
                    height: 100%;
                }
                @media(min-width: 630px) and (max-width: 750px) {
                    width: 100%;
                    transform: scale(1) translateX(0);
                }
                z-index: 1;
            }
        }
        h4,
        p,
        a {
            margin: ($base /2) 0;
            justify-self: center;
            @extend .text-center;
            color: $white;
            z-index: 2;
            text-shadow: $text-shadow;
        }
        h4 {
            grid-column: 3/-3;
            grid-row: 2/3;
            margin-top: $base * 3;
            text-transform: none;
            font-size: 2.25em;
            @media(min-width: map-get($map: $breakpoints, $key: "md")) {
                grid-column: -8/-2;
            }
            @media(min-width: map-get($map: $breakpoints, $key: "ds")) {
                grid-column: -8/-3;
                // grid-row: 4/5;
            }
        }
        p {
            grid-column: 3/-3;
            grid-row: 3/5;
            font-size: $base;
            font-style: italic;
            @media(min-width: map-get($map: $breakpoints, $key: "md")) {
                grid-column: -8/-2;
                grid-row: 3/4;
            }
            @media(min-width: map-get($map: $breakpoints, $key: "ds")) {
                grid-column: -8/-3;
                // grid-row: 4/5;
            }
        }
        a {
            grid-column: 3/-3;
            grid-row: 5/6;
            margin-bottom: $base * 3;
            &.btn {
                color: $white;
                border-color: $white;
                &:hover {
                    color: $text;
                    text-shadow: none;
                    // mix-blend-mode: multiply;
                    background: $white;
                    // mix-blend-mode: screen;
                }
            }
            @media(min-width: map-get($map: $breakpoints, $key: "md")) {
                grid-column: -7/-3;
                grid-row: 4/5;
            }
            @media(min-width: map-get($map: $breakpoints, $key: "ds")) {
                grid-column: -7/-4;
            }
        }
    }
    .slick-arrow {
        display: block;
        position: absolute;
        top: 50%;
        z-index: 1;
        margin-top: -$base;
        background: none;
        border: none;
        color: $white;
        font-size: $base*2;
        opacity: 0.5;
        &:hover {
            opacity: 1;
        }
        cursor: pointer;
        @media(min-width: map-get($map: $breakpoints, $key: "xl")) {
            margin-top: -($base*2);
            font-size: $base*4;
        }
    }
    .slick-prev {
        left: 0;
        @media(min-width: map-get($map: $breakpoints, $key: "xl")) {
            left: $base;
        }
    }
    .slick-next {
        right: 0;
        @media(min-width: map-get($map: $breakpoints, $key: "xl")) {
            right: $base;
        }
    }
}