section.text-image-block {
    div.image-wrap {
        grid-column: 3/-3;
        justify-self: center;
        margin: ($base * 1) 0;
        align-self: start;
        @media(min-width: map-get($map: $breakpoints, $key: "md")) {
            grid-row: 1/2;
            grid-column: 2/5;
            margin: 0;
            justify-self: start;
        }
        @media(min-width:map-get($map: $breakpoints, $key: "lg")) {
            align-self: center;
        }
    }
    div.content-wrap {
        grid-column: 2/-2;
        justify-self: center;
        justify-content: center;
        display: flex;
        align-items: center;
        flex-direction: column;
        p {
            padding: ($base / 2) 0;
            font-size: $base;
        }
        a {
            margin: $base 12.5vw;
        }
        @media(min-width:map-get($map: $breakpoints, $key: "md")) {
            grid-row: 1/2;
            justify-self: center;
            align-self: center;
            grid-column: -2/6;
        }
    }
    &.Circle {
        div.image-wrap {
            border-radius: 50%;
            overflow: hidden;
            img {
                transform: scale(1.04);
            }
        }
    }
    &.Right {
        @media(min-width: map-get($map: $breakpoints, $key: "md")) {
            div.image-wrap {
                grid-column: -5/-2;
            }
            div.content-wrap {
                grid-column: 2/-6;
            }
        }
        @media(min-width:map-get($map: $breakpoints, $key: "dl")) {
            div.content-wrap {
                grid-column: 2/-5;
            }
        }
    }
}