section.text-block {
    justify-content: center;
    overflow: auto;
    p,
    ul,
    hr,
    blockquote {
        grid-column: 2/-2;
        @include content-width
    }
    p,
    ul,
    blockquote {
        margin-top: ($base/2);
    }
    ul {
        list-style-type: disc;
        margin: $base 0;
        padding-left: $base*2;
    }
    .alignright {
        float: right;
    }
    .alignleft {
        float: left;
    }
    .aligncenter {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}