section.text-images-block {
    p,
    .collection-container {
        grid-column: 2/-2;
        justify-self: center;
    }
    p {
        font-family: Merriweather, sans-serif;
        font-size: 1.25em;
        line-height: 1.6em;
        @include content-width;
        margin-bottom: ($base * 2);
    }
    .collection-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        @media(min-width: map-get($map: $breakpoints, $key: "md")) {
            flex-wrap: nowrap;
        }
        picture {
            margin: ($base) 0;
            flex: 1 0 100%;
            display: grid;
            grid-template-columns: 1fr;
            img {
                grid-column: 1/-1;
                justify-self: center;
            }
            @media(min-width: map-get($map: $breakpoints, $key: "md")) {
                flex: 1 1 250px;
                margin: ($base/2) $base;
                &:first-child {
                    margin-left: 0;
                }
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
}