section.text-hero-block {
    justify-content: center;
    h2,
    p {
        text-align: center;
    }
    h2 {
        @include sub-heading;
        text-transform: none;
        grid-column: 2/-2;
        @media(min-width: map-get($map: $breakpoints, $key: "md")) {
            grid-column: 4/-4;
        }
    }
    p {
        margin-top: $base;
        grid-column: 2/-2;
        @media(min-width: map-get($map: $breakpoints, $key: "md")) {
            grid-column: 4/-4;
        }
    }
    a {
        margin-top: $base*1.5;
        grid-row-start: 3;
        justify-self: center;
        grid-column: 4/-4;
    }
    &+section.text-block {
        margin-top: 0;
    }
}