@mixin heading {
    text-shadow: $heading-shadow;
    h2 {
        color: $white;
        font-size: 2em;
        text-align: center;
        grid-column: 1/-1;
        z-index: 2;
    }
    p,
    time {
        margin: ($base) 0 0 $base;
        color: white;
        text-align: center;
        font-weight: 400;
        grid-column: 2/-2;
        @media(min-width: map-get($map: $breakpoints, $key: "lg")) {
            grid-column: 3/-3;
        }
        z-index: 2;
    }
    a {
        grid-column: 3/-3;
        color: $white;
        border-color: $white;
        text-align: center;
        margin: $base auto;
        z-index: 2;
        &:hover {
            background: $white;
            color: $text;
            text-shadow: none;
        }
    }
}

@mixin sub-heading {
    font-size: 1.25em;
    font-family: "Merriweather", sans-serif;
    font-weight: 300;
    color: $text;
    text-transform: capitalize;
    line-height: 1.7em;
}

@mixin content-width {
    grid-column: 2/-2;
    @media(min-width: map-get($map: $breakpoints, $key: "md")) {
        grid-column: 3/-3;
    }
    @media(min-width:map-get($map: $breakpoints, $key: "dl")) {
        grid-column: 4/-4;
    }
}