//mixen for firefox specfic stylings
@mixin firefox($styles) {
    @if $styles {
        @supports (background-image: -moz-linear-gradient(top, #000 0%, #fff 100%)) {
            @content;
        }
    }
}